<div class="thumbnail clearfix">
  <img ng-src="{{ thumbnailCtrl.pic.imageURI }}" alt="{{ thumbnailCtrl.pic.desc }}">
  <div>
    <span>
      name:
      <span>{{ thumbnailCtrl.pic.name }}</span>
    </span>
    <span>
      description:
      <span>{{ thumbnailCtrl.pic.desc }}</span>
    </span>
    <span>
      gallery:
      <span>{{ thumbnailCtrl.gallery.name }}</span>
    </span>
    <span>
      rating:
      <span uib-rating ng-model="rate" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
    </span>

    <button class="btn-std" ng-click="thumbnailCtrl.deletePic()">delete</button>
  </div>
</div>
