.create-gallery {
  button {
    float: right;
    padding: 1vw 2vw;
    background-color: $brand-grey-dark;
    color: $brand-white;
    margin-top: 2vw;

    &:hover {
      background-color: $btn-hover-dark;
      color: $brand-white;
    }
  }
}
