<li class="gallery-item">
  <div class="current-item" ng-if="!galleryItemCtrl.showEditGallery">
    <span ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">
      name:
      <span>{{ galleryItemCtrl.gallery.name }}</span>
    </span>
    <span ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">
      description:
      <span>{{ galleryItemCtrl.gallery.desc }}</span>
    </span>
  </div>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>

</li>

<!-- <span class="btn-sm" ng-if="!galleryItemCtrl.showEditGallery" ng-click="galleryItemCtrl.showUploadPic = !galleryItemCtrl.showUploadPic">
  add images
</span> -->
<span class="btn-sm" ng-if="!galleryItemCtrl.showEditGallery" ng-click="galleryItemCtrl.deleteGallery()">
  delete
</span>
<span class="btn-sm" ng-if="!galleryItemCtrl.showEditGallery" ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">
  edit
</span>
<div class="clearfix spaced"></div>
