<li class="gallery-item">
  <uib-accordion>
    <div class="current-item" ng-if="!galleryItemCtrl.showEditGallery" uib-accordion-group class="panel-default" heading="{{ galleryItemCtrl.gallery.name }}">
      <span ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">
        description:
        <span>{{ galleryItemCtrl.gallery.desc }}</span>
      </span>
    </div>
  </uib-accordion>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery" gallery="galleryItemCtrl.gallery"></edit-gallery>

</li>

<span class="btn-sm" ng-if="!galleryItemCtrl.showEditGallery" ng-click="galleryItemCtrl.deleteGallery()">
  delete
</span>
<span class="btn-sm" ng-if="!galleryItemCtrl.showEditGallery" ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery">
  edit
</span>
<div class="clearfix spaced"></div>
